---
import { Image } from "astro:assets";
import Image1 from "@assets/images/bandeau/casot-les_spirales.jpg";
---

<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    <div
      class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-primary-light rotate-2"
    >
      <Image
        src={Image1}
        alt="Image 1"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div><div
      class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-primary-light -rotate-2"
    >
      <Image
        src={Image1}
        alt="Image 1"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div><div
      class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-primary-light rotate-2"
    >
      <Image
        src={Image1}
        alt="Image 1"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div><div
      class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-primary-light -rotate-2"
    >
      <Image
        src={Image1}
        alt="Image 1"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div><div
      class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-primary-light rotate-2"
    >
      <Image
        src={Image1}
        alt="Image 1"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
  </div>
</div>
